.signupform {
  margin: 0 auto;
  color: #2185d0;
  border-color: #2184d0;
  border-radius: 0%;
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: 18px;
  padding-top: 7%;
}
