.signupbody {
  opacity: 0.8;
  margin: 0 auto;
  padding-bottom: 4%;
}

.signupcontainer {
  padding: 2% 0 3%;
  margin: 0 auto;
  width: 360px;
  height: 480px;
  border-radius: 20px;
  margin-top: 50px;
  text-align: center;
  border: #2184d0 solid 2px;
}

.signuptxt {
  font-size: 40px;
  color: #2184d0;
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  margin-top: 15%;
}

.signupform.name {
  padding-top: 0%;
}

.errorMessage {
  font-size: small;
  color: red;
}